.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 400px;
}

p {
  margin: 0;
  text-align: left;
  font-weight: bold;
}

.input {
  margin-bottom: 15px;
  padding: 7px;
  border: 1px solid #155617;
  border-radius: 4px;
  outline: none;
  font-size: 1rem;
  width: 100%;
  max-width: 400px;
  transition: box-shadow 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);

}

.input:focus {
  border-color: #087d1d;
  box-shadow: 0 0 5px #087d1d;
}